body{
  font-family: 'Righteous', cursive;
}

.dentro{
  margin: 10vh 0 10vh 0;
}

.cuadro{
  width: 100%;
  border: solid 2px gray;
  padding: 20px;
  border-radius: 10px;
}

.btn-primary{
  background-color: #893BA0;
  color: white;
  border: none;
}

.btn-primary:hover{
  background-color: #893BA0;
  color: black;
}

.form-control{

}
