body{
  font-family: 'Righteous', cursive;
}

.todo{
  margin: 10vh 0 27vh 0;
}
.cuadro{
  margin: 0 auto;
  border: solid 2px gray;
  border-radius: 5px;
  padding: 20px;
}

.cuadro input{
  width: 100%;
  margin: 10px 0 10px 0;
  border-top: none;
  border-right: none;
  border-left: none;
}

.boton input{
  margin: 3vh 1vh 3vh 0;
}

.boton button{
  background-color: #893BA0;
  color: white;
}
