body{
  font-family: 'Righteous', cursive;
}

.todo{
  margin: 10vh 0 10vh 0;
}

.todo h2{
  text-align: center;
}

.cuadro{
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 2px gray;
  border-radius: 5px;
  padding: 20px;
}

.cuadro input{
  width: 100%;
  margin: 10px 0 10px 0;
  border-top: none;
  border-right: none;
  border-left: none;
}

.boton input{
  margin: 3vh 1vh 3vh 0;
}

.boton button{
  background-color: #893BA0;
  color: white;
}

.boton button{
  width: 100%;
}

.imagenPerfil{
  margin-top: 5vh;
}

.imagenPerfil label{
  color: #893BA0;
}

.cuenta{
  margin: 3vh auto;
  text-align: center;
}

.centrar{
  margin: 0 auto;
}


.boton input{
  margin: 3vh 1vh 3vh 0;
}
