*{
  box-sizing: border-box;
}
main{

}
main section{
  overflow: hidden;
  float: left;

}
.row{
  margin: 10px;
  
}
main section article{
  float: inherit;
}
main section article img{
  width: 100%;

}
main section article button{
  background-color: #893ba0;
  float: right;
}
.fondo{
  background-color: #f1f7ee;
}
.btn{
    background-color: #893ba0;
}
