<<<<<<< HEAD
/*HEADER*/
=======
.container-fluid{
 padding-right: 0px;
 padding-left: 0px;
}

/*HEADER*/
#titulodepagina{
  display: inline;
  font-family: 'Righteous', cursive;
  font-size: 45px;
  margin-left: 5px;
}
>>>>>>> d5e056c45b8a70d741488112d4650c6b5c75503d

#barraNav{
  background-color: #07BA3D;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

#buscador{
  background-color: #50514F;
  overflow: hidden;
<<<<<<< HEAD
=======
  padding-left: 15px;
  padding-right: 15px;
>>>>>>> d5e056c45b8a70d741488112d4650c6b5c75503d
}

#botBuscar{
  background-color: white;
  width: 30%;
  margin-left: 10px;
}

<<<<<<< HEAD
input{
=======
#inputBuscador{
>>>>>>> d5e056c45b8a70d741488112d4650c6b5c75503d
  width: 60%;
}

.dropdown-menu a:hover {
    background-color: #50514F;
    color: #FFF;
    background-image: none;
}

.buscar{
  float: left;
  padding-left: 0px;
}

.form-inline{
  padding-top: 35px;
}

.nombre{
  font-size: 2em;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  float: left;
  margin-top: 25px;
<<<<<<< HEAD
  margin-bottom: 25px;
}

.nombre img{
  width: 80px;
  height: 80px;
=======
}

#logodepagina{
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
>>>>>>> d5e056c45b8a70d741488112d4650c6b5c75503d
}

.carrito i{
  color: #07BA3D;
  font-size: 40px;
  width: 100%;
  padding-top: 20%;
  float: left;
  text-align: center;
<<<<<<< HEAD
  padding-top: 30px;
=======
  padding-top: 20px;
  padding-bottom: 5px;
>>>>>>> d5e056c45b8a70d741488112d4650c6b5c75503d
}

#misCompras{
  font-family: 'Righteous', cursive;
  width: 100%;
  text-align: center;
<<<<<<< HEAD
=======
  padding-bottom: 10px
}

/* CARRUSEL */
#carrusel{
  width: 101%;
>>>>>>> d5e056c45b8a70d741488112d4650c6b5c75503d
}

/*footer*/

.pieDePagina{
  background-color: #50514F;
}

#linksAyuda{
  font-family: 'Righteous', cursive;
  padding-top: 15px;
  font-size: 1em;
}

.iconoRedes{
  color: #07BA3D;
  font-size: 2em;
}

#redes :hover{
  color: #07BA3D;
}
<<<<<<< HEAD
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
=======

/* VISTA DE PRODUCTO */
.foto-producto-vista img{
  width: 100%;
  padding: 30px;
}

.precio-producto-vista{
  border-left: 2px solid rgb(155, 158, 152, 0.5);
  padding: 50px;
}
.precio-producto-vista button{
  background-color: #893ba0;
  color: #ffffff;
  border-radius: 35px;
  padding: 10px;
  font-weight: 400;
}
.precio-producto-vista p{}

.precio-producto-vista #Nombre-del-producto{
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
.precio-producto-vista #precio{
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  border-left: 2px solid rgba(#00ff21, 0.5);
}

.precio-producto-vista .botones{
  text-align: center;
}
>>>>>>> d5e056c45b8a70d741488112d4650c6b5c75503d
