/*HEADER*/

#barraNav{
  background-color: #07BA3D;
  height: 80px;
}

#buscador{
  background-color: #50514F;
  height: 200px;
}

#botBuscar{
  background-color: white;
}

ul{
  width: 100%;
}

.dropdown-menu a:hover {
    background-color: #50514F;
    color: #FFF;
    background-image: none;
}

.itemMenu{
  width: 25%;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.nombre{
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.nombre img{
  width: 85px;
  height: 85px;
}

.carrito i{
  color: #07BA3D;
  font-size: 3em;
  padding-top: 20%;
}

#misCompras{
  font-family: 'Righteous', cursive;
  padding-top: 15px;
}

.pieDePagina{
  background-color: #07BA3D;
}
